# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

# 虚拟环境
lc_env/

# Python 缓存
__pycache__/

# IDE 配置
.vscode/

#缓存
chat_history/
chroma_db/
md5.text
flashcards/
